{%extends 'vote/base.html'%}
{% load static %}

{%block content%}

{%include 'vote/header.html' %}
<div class="container">
    <div class="row mt-3">
        <h1 class="text-center">House Keeping Page</h1>
        <h3 class="text-center">Circle: {{object.district}}-{{object}} </h3>
        <h4 class="text-center">Invitation Key: {{object.invitation_code}} </h4>
        <p class="text-center">Circle Status:
          {% if object.is_active %}
            Active
          {%else%}
            This Circle will become Active once it has six Members.
           {%endif%}</p>
        {% if is_delegate %}
        <div class="col text-center m-1">
            {% if object.is_active is False %}
            <form action="" method="post"> {%csrf_token%}
                <input type="hidden" name="circle" value="{{object}}">
                <button class="btn btn-success mb-2">Generate New Key</button>
            </form>
            {%endif%}
            <button class="btn btn-primary" id="copy_invitation_key" key="{{object.invitation_code}}"> Copy Invitation Key</button>
        </div>

        {%else%}
        <!-- this the circle memeber -->

        {%endif%}
        <div class="col-sm-12 text-center my-1">
          <a href="{%url 'circleMember' pk=object.pk %}" class="text-center btn btn-primary">Member Page</a>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div class="container">
                <div class="alert alert-{{message.extra_tags}}" role="alert">{{message}}</div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="container mt-3">
    <div class="row" style="overflow: auto; display: block; white-space: nowrap;">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th class="text-uppercase ">No</th>
            <th class="text-uppercase ">Member </th>
            <th class="text-uppercase ">in or Out</th>
            <!-- show the put forward when circle has 6 members at least -->
            {% if object.circlemember_set.count >= 6 %}
            <th class="text-uppercase ">Put Forward</th>
            {%endif%}
            {% if is_delegate %}
            <th class="text-uppercase ">Action</th>
            {%endif%}
          </tr>
        </thead>
        <tbody>
            {%for member in object.circlemember_set.all %}

                {%if member.is_member%}
                    <tr class="">
                        <td class="">{{forloop.counter}}  </td>
                        <td class="">{{member.user.users.legalName}}
                            {% if member.is_delegate %}
                            <span class="badge bg-success">DELEGATE</span>
                            {%endif%}
                        <td class="">
                            IN: <span class="badge bg-info text-dark">{{member.circlemember_vote_in_set.count}}</span>  &nbsp; &nbsp;
                            OUT: <span class="badge bg-info text-dark">{{member.circlemember_vote_out_set.count}}</span>
                            {%if member.user == user or member.is_delegate %}
                            <!-- <button class="mx-1 btn btn-secondary disabled">IN</button>
                            <button class="btn btn-secondary disabled">OUT</button> -->
                            {%endif%}
                        </td>

                        {% if object.circlemember_set.count >= 6 %}
                        <td class="">
                            {%if member.user == user or member.is_delegate %}
                            <button class="btn btn-secondary disabled ">PUT FORWARD</button>
                            {%else%}
                            <!-- check if the user has already voted for a member delegation -->
                            {% if delegated %}
                                <button class="btn btn-secondary disabled ">PUT FORWARD</button>
                                {% else %}
                                <form action="{%url 'putForward' %}" method="post">  {%csrf_token%}
                                    <input type="hidden" name="member" value="{{member.pk}}" id="">
                                    <button class="btn btn-success ">PUT FORWARD</button>
                                </form>
                                {%endif %}
                            {%endif%}
                        </td>
                        {%endif%}
                        {% if is_delegate%}
                        <td class="">
                            {%if member.user != user %}
                            <form action="{% url 'removeCircleMember' %}" method="post"> {%csrf_token%}
                                <input type="hidden" name="circle" value="{{object}}">
                                <input type="hidden" name="member" value="{{member.pk}}">
                                <button class="btn btn-danger" type="submit" name="remove">REMOVE</button>
                            </form>
                            {%else%}
                                {% if object.circlemember_set.count == 1 %}
                                <a href="{% url 'circleRemove' pk=object.pk %}" class="btn btn-danger">Dissolve Circle</a>
                                {%else%}
                                F-Del
                              {%endif%}
                            {%endif%}

                        </td>
                        {%endif %}
                    </tr>
                {%endif%}
            {%endfor%}
            <!-- if there is candidate -->
            <!-- candidate shall not not itself viewing -->
            <!-- each user shall vote once.  -->
            {%if candidate and candidate.user != user %}

            <tr class="">
                <td class="">{{candidate.member_number}}  </td>
                <td class="">{{candidate.user.users.legalName}} </td>
                <td class="">
                    {%if not voted %}
                    <form class="float-start mx-1" action="{% url 'circle_vote_in' %}" method="post"> {%csrf_token%}
                        <input type="hidden" name="circle" value="{{object}}">
                        <input type="hidden" name="member" value="{{candidate.pk}}">
                        <button type="submit" name="IN" class="btn btn-success ">IN</button>
                    </form>
                    <form class="float-start mx-1 " action="{% url 'circle_vote_out' %}" method="post"> {%csrf_token%}
                        <input type="hidden" name="circle" value="{{object}}">
                        <input type="hidden" name="member" value="{{candidate.pk}}">
                        <button type="submit" name="OUT" class="btn btn-danger">OUT</button>
                    </form>
                    {%else%}
                    IN: <span class="badge bg-info text-dark">{{candidate.circlemember_vote_in_set.count}}</span> &nbsp; &nbsp;
                    OUT: <span class="badge bg-info text-dark">{{candidate.circlemember_vote_out_set.count}}</span>
                    {%endif%}
                </td>
                {% if object.circlemember_set.count >= 6 %}
                <td></td>
                {%endif%}
                {% if is_delegate%}
                <td class="">
                    {%if candidate.user != user %}
                    <form action="{% url 'removeCircleMember' %}" method="post"> {%csrf_token%}
                        <input type="hidden" name="circle" value="{{object}}">
                        <input type="hidden" name="member" value="{{candidate.pk}}">
                        <button class="btn btn-danger" type="submit" name="remove">REMOVE</button>
                    </form>
                    {%else%}
                        F-Del
                    {%endif%}

                </td>
                {%endif %}
            </tr>

            {%endif%}

        </tbody>
        {%comment%}
        <tbody>

          {% for users_list in stat%}
        <tr>
          {%if forloop.counter < 10%}
          <td>{{0}}{{forloop.counter}}
          {%endif%}

          <td>{{users_list.member.name }}</td>
          <td class="text-center">
            {% if  votegive == 0 and users_list.member_status == 0 %}
              <button type="submit" class="btn btn-sm btn-success vote" name="submit"  value={{users_list.id}}>vote now</button>
            {% endif  %}
          </td>
          <td>
            {% if  devote != 0 and  users_list.member_status == 0%}
            <button type="submit" class="btn vote" name="devote"  value={{users_list.id}}>Remove vote</button>
            {%endif%}
          </td>

          <td>
            {% if  circlelen >= 5 and users_list.member_status == 1 and evote == 0 %}
              <button type="submit" name="elect" value={{users_list.id}}>Election</button>
            {% endif  %}
          </td>

          <td class="text-center">
            {% if  users_list.member_status == 0 and owner_id == request.user.id %}
              <button type="submit" class="btn btn-danger btn-sm delete" name="Delete" value={{users_list.id}}>Delete</button>
            {% endif  %}
          </td>
          {%endfor%}

        </tbody>
        {%endcomment%}
      </table>
    </div>
  </div>


{%include 'vote/footer.html'%}

{%endblock content%}

{%block js%}
<script src="{% static 'circle_invitationKeyCopy.js' %}"></script>
{%endblock js%}
