{%extends 'vote/base.html'%} {% load static %} {%block content%}

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-12 text-center">
      <img
        src="{% static 'image/logo.png' %}"
        class="mx-auto mb-4"
        alt="Head shot of chimpanzee stroking his chin as if mulling over a particularly tricky thought"
        style="max-width: 250px; width: 100%" />
      <h2 class="m-4">Welcome to the Democracy Straight-Up Project!</h2>
      <h2 class="text-secondary m-4">Vote directly on federal legislation.</h2>
      <a
        class="btn btn-lg btn-primary m-3 text-decoration-none"
        href="https://dsup-front-738bf2b06978.herokuapp.com/"
        >Claim Your Seat</a
      >
    </div>
  </div>
</div>

{%endblock content%}
