{% extends 'vote/base.html'%}
{%load static%}

{%block css%}
{% endblock css%}


{% block content%}
{%include 'vote/header.html' %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3"></div>
        <div class="col-sm-12 col-md-6 mt-3">
            <h1 class="text-center">Join a Circle</h1>
            <div class="">
              <h4 class="text-left">You must have an Invitation Key to join a Circle.</h4>
              <p class="text-left">The First Delegate of a circle should send you an Invitation Key. This cannot be done via the website.</p>
              <p class="text-left">Or you can create your own Circle and start inviting others to join it.</p>
              <a class="btn btn-primary btn-sm mb-3" href="{% url 'createCircle' %}">Create a Circle</a>
            </div>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.extra_tags}}" role="alert"> {{message}}</div>
                {% endfor %}
            {% endif %}

            {%if form.errors%}
                {% for error in form.errors%}
                    <div class="alert alert-danger" role="alert"> {{error}} </div>
                {%endfor%}
            {%endif%}

            <form method="post"> {% csrf_token %}
                <input type="hidden" name="user" value="{{user.pk}}">
                    {{form}}
                <button class="btn btn-success mt-2"> Join the Circle</button>
            </form>

        </div>
        <div class="col-sm-12 col-md-3"></div>
    </div>
</div>

{% endblock content%}


{% block js%}

{% endblock js%}