{% extends 'vote/base.html'%}
{%load static%}

{%block css%}
    <style>
        a{
            text-decoration: none;
        }
        .a li{
            list-style: none;
            margin: 5px 0;
        }
        tbody{
            border-top: none!important;
        }
    </style>
{%endblock css%}

{% block content%}
{%include 'vote/header.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            <!-- if the user has ir_reg-->
            {%if user.users.is_reg %}
            <div class="alert alert-warning mt-3">
                <p>
                    You have to got until {{is_reg}} to
                    registered to vote in your district or your account will be deleted! Yikes!
                    <a href="#"> Learn More</a>.
                </p>
                <p>
                    But, if you have gotten registered since the last time you entered the floor,
                    <a href="#"> click here</a>.
                </p>
            </div>
            {%endif%}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">Voter Page for {{user.users.legalName}}</h1>
            <h3 class="text-center">Your Verification Score: {{user.users.verificationScore}}/7</h3>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center"> District: {{user.users.district}} </h1>
        </div>
    </div>

    <div class="row mb-3 ">
        {% if user.users.userType == 0%}
        <!-- the first col. contains common links -->
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center"> </div>
        <!-- the second col. contains users varous buttons-->
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center">
            <!-- check if userType is 0 that means that he has not yet created or joined a circle -->
            <div class="row text-center">
                <div class="col-sm-12 ">
                    <a class="btn  btn-primary m-2" href="{% url 'joinCircle' %}">Join a Circle</a>
                </div>
                <div class="col-sm-12 ">
                    <a class="btn btn-primary m-2" href="{% url 'createCircle' %}">Create a Circle</a>
                </div>
            </div>
        </div>
        <!-- the third col. contains comoon links-->
        <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center"> </div>

        {%elif user.users.userType == 1%}
            {%include 'vote/circle_voter_page.html' %}

        {%elif user.users.userType == 2%}
            {%include 'vote/first_link_group.html' %}

        {%elif user.users.userType == 3%}
            {%include 'vote/second_link_group.html' %}

        {%elif user.users.userType == 4%}
            {%include 'vote/third_link_group.html' %}

        {%elif user.users.userType == 5%}
            {%include 'vote/fourth_link_group.html' %}

        {%endif%}
    </div>

</div>

<div class="container">
    <div class="row text-center" style="overflow: auto; display: block; white-space: nowrap;">
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>Bill Number</th>
                    <th>Short Title</th>
                    <th>Sched'd for Vote</th>
                    <th>Advice</th>
                    <th>More...</th>
                    <th>Your Vote</th>
                    <th>District Tally</th>
                    <th>Nat'l Tally</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>H.R. 0001</td>
                    <td>Short Title</td>
                    <td>Date</td>
                    <td>Yea</td>
                    <td><button type="button" class="btn btn_More">More...</button></td>
                    <td>
                        <fieldset>
                            <div class="text-left section_lable_input">
                                <label for="coding">Yea</label>
                                <input type="radio"  id="Yea" name="interest" value="coding">
                            </div>
                            <div class="text-left section_lable_input">
                                <label for="coding">Nay</label>
                                <input type="radio"  id="Nay" name="interest" value="coding">
                            </div>
                            <div class="text-left section_lable_input">
                                <label for="coding">Present</label>
                                <input type="radio"  id="Prtesent" name="interest" value="coding">
                            </div>
                            <div class="text-left section_lable_input">
                                <label for="coding">Proxy</label>
                                <input type="radio"  id="Proxy" name="interest" value="coding">
                            </div>
                        </fieldset>
                    </td>
                    <td>
                        <div><input id="textInput" class="custom mb-2" size="12"></div>
                        <div><input id="textInput" class="custom mb-2" size="12"></div>
                        <div><input id="textInput" class="custom mb-2" size="12"></div>
                        <div><input id="textInput" class="custom" size="12"></div>
                    </td>
                    <td>
                        <div><input id="textInput" class="custom mb-2" size="12"></div>
                        <div><input id="textInput" class="custom mb-2" size="12"></div>
                        <div><input id="textInput" class="custom mb-2" size="12"></div>
                        <div><input id="textInput" class="custom" size="12"></div>
                    </td>
                </tr>
                <tr>
                    <td>H.R 0002</td>
                    <td>Short Title</td>
                    <td>Date</td>
                    <td>Yea</td>
                    <td><button type="button" class="btn btn_More">More...</button></td>
                    <td>
                        <fieldset>
                            <div class="text-left section_lable_input">
                                <label for="coding" class="text-left">Yea</label>
                                <input type="radio" id="Yea" name="interest" value="coding">
                            </div>
                            <div class="text-left section_lable_input">
                                <label for="coding" class="text-left">Nay</label>
                                <input type="radio" id="Nay" name="interest" value="coding">
                            </div>
                            <div class="text-left section_lable_input">
                                <label for="coding" class="text-left">Present</label>
                                <input type="radio" id="Prtesent" name="interest" value="coding">
                            </div>
                            <div class="text-left section_lable_input">
                                <label for="coding">Proxy</label>
                                <input type="radio" id="Proxy" name="interest" value="coding">
                            </div>
                        </fieldset>
                    </td>
                    <td>
                        <div><input id="textInput" class="custom mb-2" size="12"></div>
                        <div><input id="textInput" class="custom mb-2" size="12"></div>
                        <div><input id="textInput" class="custom mb-2" size="12"></div>
                        <div><input id="textInput" class="custom" size="12"></div>
                    </td>
                    <td>
                        <div><input id="textInput" class="custom mb-2" size="12"></div>
                        <div><input id="textInput" class="custom mb-2" size="12"></div>
                        <div><input id="textInput" class="custom mb-2" size="12"></div>
                        <div><input id="textInput" class="custom" size="12"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{%endblock content%}
